{%load static%}

<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/icofont/icofont.min.css' %}">
<link rel="stylesheet" href="{% static 'style.css' %}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SickSense</title>
</head>

<body id="top">
    <nav class="navbar navbar-expand-lg navigation" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" alt="" class="img-fluid">
            </a>

            <div class="collapse navbar-collapse" id="navbarmain">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'about'%}">About</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Services <i class="icofont-thin-down"></i></a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown02">
                            <li><a class="dropdown-item" href="{%url 'lungCancer' %}">Lung Cancer</a></li>
                            <li><a class="dropdown-item" href="{% url 'diabetes' %}">Diabetes</a></li>
                            <li><a class="dropdown-item" href="{% url 'heartAttack' %}">Heart Attack</a></li>
                            <li><a class="dropdown-item" href="{% url 'kidneyDisease' %}">Kidney Disease</a></li>
                            <li><a class="dropdown-item" href="{% url 'hypertension' %}">Hypertension</a></li>
                        </ul>
                    </li>

                    <li class="nav-item"><a class="nav-link" href="{%url 'contact' %}">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="section about-page">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h3 class="mb-4">Welcome to SickSense!</h3>
                        <div class="divider mx-auto my-4"></div>
                        <p>At SickSense, we strive to provide the best disease prediction service to our customers. Our
                            team of experienced professionals has developed a unique algorithm that analyzes various
                            factors to predict the likelihood of contracting a disease. We believe that prevention is
                            better than cure, and our mission is to empower individuals to take control of their health
                            by providing them with the necessary information to make informed decisions.</p>
                    </div>
                </div>
            </div>
            <div class="divider mx-auto my-4"></div>
            <div class="row">
                <div class="col-lg-4">
                    <h3>Who We Are</h3>
                </div>
                <div class="col-lg-8">
                    <p>SickSense is a disease predicting website that offers a range of services to help individuals
                        stay healthy. We are a team of passionate professionals with a strong background in healthcare,
                        data analysis, and technology. Our team members come from diverse backgrounds, but we share a
                        common goal: to make healthcare more accessible and affordable for everyone.</p>
                </div>
            </div>
            <div class="divider mx-auto my-4"></div>
            <div class="row">
                <div class="col-lg-4">
                    <h3>What We Do</h3>
                </div>
                <div class="col-lg-8">
                    <p>Our website offers a range of services, including disease prediction, personalized health
                        recommendations, and a symptom checker. Our prediction algorithm takes into account various
                        factors such as age, gender, lifestyle, medical history, and environmental factors to provide
                        accurate predictions. Our personalized health recommendations are based on your health profile
                        and provide actionable steps to help you stay healthy. Our symptom checker is designed to help
                        you identify potential health issues and guide you to seek appropriate medical attention.</p>
                </div>
            </div>
            <div class="divider mx-auto my-4"></div>
            <div class="row">
                <div class="col-lg-4">
                    <h3>Why Choose Us</h3>
                </div>
                <div class="col-lg-8">
                    <p>At SickSense, we are committed to providing our customers with the best possible service. Our
                        team of professionals is dedicated to ensuring that you receive accurate and reliable
                        information to make informed decisions about your health. We value transparency and privacy, and
                        we are committed to keeping your data safe and secure. We believe that healthcare should be
                        accessible to everyone, and we strive to keep our services affordable and accessible.</p>
                </div>
            </div>
            <div class="divider mx-auto my-4"></div>
            <div class="row">
                <div class="col-lg-4">
                    <h3>Our Vision</h3>
                </div>
                <div class="col-lg-8">
                    <p>Our vision is to become the go-to platform for disease prediction and prevention. We believe that
                        by empowering individuals with the necessary information, we can help reduce the burden of
                        disease and improve overall health outcomes. We are constantly working to improve our services
                        and expand our reach to make healthcare more accessible for everyone.</p>
                </div>
            </div>
            <div class="divider mx-auto my-4"></div>
            <div class="row">
                <div class="col-lg-4">
                    <h3>Join Us</h3>
                </div>
                <div class="col-lg-8">
                    <p>We invite you to join us on our mission to make healthcare more accessible and affordable. Sign
                        up for our services and take control of your health today! If you have any questions or
                        feedback, please don't hesitate to contact us. We are always here to help.</p>
                </div>
            </div>
            <div class="divider mx-auto my-4"></div>
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h3 class="mb-4">Thank you for choosing SickSense!</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="footer section gray-bg">
        <div class="footer-container">
            <div class="row">
                <div class="col-lg-4 mr-auto col-sm-6">
                    <div class="widget mb-5 ml-3 mb-lg-0">
                        <div class="logo mb-4">
                            <img src="{% static 'images/logo.png' %}" alt="" class="img-fluid">
                        </div>
                        <p>Our team is dedicated to providing you with the best possible service and support.
                            Stay up-to-date with the latest health news and tips by following SickSense on social media.
                        </p>
                        <ul class="list-inline footer-socials mt-4">
                            <li class="list-inline-item"><a href="#"><i class="icofont-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="icofont-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget mb-5 mb-lg-0">
                        <h4 class="text-capitalize mb-3">Support</h4>
                        <div class="divider mb-4"></div>

                        <ul class="list-unstyled footer-menu lh-35">
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Company Support </a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Company Licence</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="widget widget-contact mb-5 mb-lg-0">
                        <h4 class="text-capitalize mb-3">Get in Touch</h4>
                        <div class="divider mb-4"></div>

                        <div class="footer-contact-block mb-4">
                            <div class="icon d-flex align-items-center">
                                <i class="icofont-email mr-3"></i>
                                <span class="h6 mb-0">Support Available for 24/7</span>
                            </div>
                            <h4 class="mt-2"><a href="#">Support@email.com</a></h4>
                        </div>

                        <div class="footer-contact-block">
                            <div class="icon d-flex align-items-center">
                                <i class="icofont-support mr-3"></i>
                                <span class="h6 mb-0">Mon to Fri : 08:00 - 18:00</span>
                            </div>
                            <h4 class="mt-2"><a href="#">123-456-789</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>